*, *:before, *:after {
  box-sizing: border-box;
}


header {
  width: 360px;
  display: inline-block;
  background-color: white;
  height: 72px;
  font-size: 2em; 
  text-align: center;
}


.back-arrow {
  float: left;
  color: gray;
}

.nav {
  height: 50px;
  margin-top: 80px;
  padding-bottom: 20px;
  position: fixed;
  width: 100%;
  margin-left: 10px;
  background-color: white;
}



.location1 {
  position: relative;
  box-sizing: border-box;
  background-color: white;
  border-bottom: 1px solid #686868;
  padding: 20px;
  margin-top: 16px;
}

.location {
  position: relative;
  box-sizing: border-box;
  background-color: white;
  border-bottom: 1px solid #686868;
}


.content {
  display: inline-block;
  width: 100%;
}

.location:hover {
  background-color: gray;
}

.location1:hover {
  background-color: gray;
}




body {
  position: relative;
	box-sizing: border-box;
	background-color: #E5E5E5;
	font-family: open sans, arial, sans-serif;
	margin: auto;
	padding: 0;
	width: 360px;
	height: 667px;
	overflow-x: auto;
}


.nav {
	margin-top: 0px;
	padding-top: 40px;
	width: 650px;
	height: 150px;
	background-color: white;
	float: center;
	text-align: center;
	font-size: 1.5em;
	color: white;
	margin: auto;

}


li {
	left: 0px;
	width: 650px;
	display: inline;
	text-align: left;
  list-style-type: none;
}



.ri {
	position: absolute;
	width: 650px;
	right: 10px;
	display: inline-block;
	text-align: right;
}

.container {
	background-color: white;
	width: 100%;
	line-height: 10px;
	display: inline;
	margin:  10px;
}

.container h1 {
	background-color: white;
  font-size: 1.5em;
  text-decoration: underline;
	font-style: bold;
  padding-bottom: 40px;
	}

.container h2 {
	font-size: 1.5em;
	font-weight: regular;
	text-align: left;
	color: black;
  margin-left: 10px;
  padding-top: 25px;
}

.container h3 {
	font-size: 1em;
	text-align: left;
	color: #757575;
	padding-top: 15px;
	margin-left: 15px;
	margin-bottom: 15px;
  margin-right: 15px;
}

.container h4 {
	font-size: 1em;
	font-style: italic;
	color: #757575;
	margin-left: 15px;
}

.container h5 {
	font-size: 1.5em;
	text-align: right;
	font-style: bold;
	color: rgb(0, 106, 205); 
	margin-right: 15px;
}

.right {
	float: right;
}


.content {
	background-color: rgb(255, 255, 255);
	border-top: .3px solid #757575;
	border-bottom: .4px solid #757575;
	width: 100%;
	padding-bottom: 40px;
}


section.content:hover {
	background-color: #E5E5E5;
}
